/* Listdo | Just another HTML Template  */

.woocommerce div.product .product_meta {
 display:none !important;
}
@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul,
	.main-menu .navigation > li > .mega-menu{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}

}

@media only screen and (max-width: 1023px){
	.hide-sm,
	.main-header .main-box,
	.sticky-header{
		display: none !important;
	}

	.mobile-header,
	.nav-outer .mobile-nav-toggler{
		display: block;
	}

	.header-span{
		height: 70px;
	}

	.main-header .nav-outer .main-menu{
		display: none;
	}
	.banner-section{
		padding-right: 5vh;
	}

	.package-section{
		padding: 10vh 0vw 25vh !important;
	}

	.sec-title h2{
		font-size: 38px;
	}

	.testimonials-section .outer-box{
		padding: 72px 24px 64px;
	}

	.setup-section .setup-list{
		margin-left: 0;
	}

	.setup-section .setup-list li{
		padding: 0;
		padding-left: 50px;
		min-height: 30px;
	}

	.setup-section .setup-list li strong,
	.setup-section .setup-list li{
		font-size: 18px;
	}

	.setup-section .setup-list li .icon{
		height: 30px;
		width: 30px;
		font-size: 18px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 767px){
	.banner-section{
		padding-right: 5vh !important;
		text-align: center;
	}
	.banner-section h2{
		font-size: 24px !important;
	}
     select, textarea {
     width:90px !important;
	min-width:93px !important;
     
}

	.banner-section:before{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		content: "";
		opacity: .50;
	}

	.package-table .right-column,
	.package-table .left-column{
		flex: 0 0 50%;
	}

	.package-table .right-column ul li.empty{
		height: 71px !important;
	}
    

	.package-table .right-column ul li{
		min-height: 67px !important;
	}

	.service-block .text-box h3{
		font-size: 18px !important;
	}

	.sec-title h2{
		font-size: 24px !important;
	}

	.sec-title .sub-title{
		font-size: 18px !important;
	}
	.main-footer .footer-links > div{
		flex: 0 0 33.3333%;
	}

	.services-section .column{
		width: 100% !important;
	}

	.services-section .column{
		height: 100vh !important;
	}
}

@media only screen and (max-width: 599px){
	.shipping-box{
		margin: 0 0 20px;
	}

	.shipping-box h4{
		font-size: 20px;
	}

	.setup-section .setup-list li{
		flex-wrap: wrap;
	}

	.sec-title .sub-title{
		font-size: 18px;
	}

	.feature-block h4{
		font-size: 20px;
	}

	.package-table .left-column ul li .opener{
		padding-left: 25px;
	}


	.package-table .right-column{
		float: left;
		width: 40%;
	}
	.package-table .left-column {
		float: left;
		width: 60%;
	}

	.package-table .row{
		display: block;
	}

	.package-table .row:after{
		display: table;
		clear: both;
		content: "";
	}

	.package-section .table-outer{
		position: relative;
		overflow-x: auto;
	}

	.main-footer{
		text-align: center;
	}

	.main-footer .footer-links > div{
		flex: 0 0 100%;
	}

	.main-footer .footer-images{
		justify-content: center;
	}

	.main-footer .footer-images .image.img-2{
		margin-right: 0;
	}

	.main-footer .footer-bottom{
		flex-direction: column;
	}

	.main-footer .footer-links ul li{
		margin-bottom: 0;
	}

	.accordion-box .block .acc-btn{
		font-size: 18px;
		line-height: 24px;
	}

	.testimonials-section .businessinfo{
		flex-direction: column;
		text-align: center;
	}

	.testimonials-section .businessinfo .logo-company{
		margin: 10px 0 ;
	}

	.package-table .left-column ul li{
		padding-left: 14px;
	}

	.package-table .input{
		min-width: 90px;
	}

	.package-table .left-column .title{
		padding-left: 20px !important;
		display: flex;
		align-items: flex-end;
	}

	.package-table .right-column ul li.continue,
	.package-table .left-column ul li{
		padding: 10px !important;
        min-height: 65px;
	}

	.package-table .left-column ul li .opener,
	.package-table .left-column ul li{
		font-size: 12px !important;
		line-height: 16px !important;
	}

	.package-table .right-column ul li.price,
	.package-table .left-column ul li.total{
		font-size: 16px !important;
	}

	.package-table .btn-style-two{
		font-size: 12px;
		padding: 10px 15px;
	}

	.package-table .right-column ul li{
		min-height: 65px !important;
	}
}