
/* Torreay | Personal Portfolio HTML Template

Template Name: Torreay
Author: Bold_Touch
Version: 1.0.0

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3.  Global Settings
4. Content Elements 
5. Main Header
6. Mobile Header
7. Anim Iocns
8. Page Title
9. Section Title
10. Banner Section
11. About Me
12. Services Section
13. Resume Section
14. Portfolio Section
15. Portfolio Single 
16. Testimonial Section
17. Call to Action
18. News Section
19. Blog Section
20. Styled Pagination
21. Contact Section 
22. Main Footer
23. Sidebar Page Container
24. Comment Area
25. Comment Form
**********************************************/

/*** 

====================================================================
			Fonts
====================================================================

***/

/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
*/

@import url("fontawesome-all.css");
@import url("animate.css");
@import url("mmenu.css");

/*** 

====================================================================
		Reset
====================================================================

 ***/

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
  font-size: 16px;
  color: #363636;
  line-height: 28px;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: montserrat,helvetica neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.2em;
  color: #3b3747;
}

section {
  position: relative;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  min-width: auto;
}

p,
.text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #334246;
  margin: 0;
}

p a,
.text a{
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}
::-moz-input-placeholder {
  color: inherit;
}
::-ms-input-placeholder {
  color: inherit;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.small-container {
  position: static;
  max-width: 900px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  z-index: 1;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.section{
  padding: 60px 0 30px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.fancybox-can-drag .fancybox-image-wrap {
  border: 10px solid #ffffff;
}

/***
=======================
	   List Styles
=======================
***/

/* List Style One */

.list-style-one {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-style-one li {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #5c6770;
  font-weight: 400;
  cursor: default;
  margin-bottom: 30px;
}

.list-style-one li .count {
  position: relative;
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 2px solid #e6e8ed;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #1b2032;
  margin-right: 15px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.list-style-one li:hover .count {
  background: #021f4a;
  color: #ffffff;
}


/*** 
==========================
  	Social Icons
==========================
***/

.social-icon-one {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.social-icon-one li {
  position: relative;
  margin: 0 6px 10px;
}

.social-icon-one li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #7b8094;
  height: 45px;
  width: 45px;
  border: 2px solid #323950;
  line-height: 43px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.social-icon-one li a:hover {
  background-color: #323950;
}

/* Social Icon Two*/

.social-icon-two {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.social-icon-two li{
  position: relative;
  margin-left: 15px;
}

.social-icon-two li:first-child{
  margin-left: 0;
}

.social-icon-two li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #4d4d4d;
  height: 35px;
  width: 35px;
  border: 1px solid #d1d1d1;
  line-height: 33px;
  background: #ffffff;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.social-icon-two li a:hover {
  background-color: #ff9b23;
  border-color: #ff9b23;
  color: #ffffff;
}


/*** 

====================================================================
	Content Elements
====================================================================

***/

.content-elements {
  position: relative;
  padding: 60px 0 10px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-70 {
  margin-top: 70px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}

.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}


/*==========================
  default table
===========================*/

.table-outer{
  overflow-y: hidden;
  overflow-x: auto;
}

.default-table{
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.09);
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
  min-width: 600px;
}

.default-table thead{
  background: #021f4a;
  color: #ffffff;
}

.default-table thead th{
  position: relative;
  padding: 20px 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 30px;
}

.default-table tbody tr{
  position: relative;
  border-bottom: 1px solid #ededed;
}

.default-table tr td{
  position: relative;
  padding: 26px 30px;
  font-size: 16px;
  color: #5c6770;
  font-weight: 400;
}

/*======================
	 	Checkbox 
=======================*/

.checkbox-outer {
  position: relative;
}

.checkbox-outer h4 {
  font-size: 16px;
  line-height: 1em;
  color: #1b2032;
  font-weight: 700;
  margin-bottom: 15px;
}

.checkboxes {
  list-style: none;
  padding: 0;
}

.checkboxes.inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxes li {
  padding: 3px 0;
  margin-right: 20px;
}

.checkboxes li:last-child {
  margin-bottom: -8px;
}

.checkboxes label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  margin-bottom: 0;
  font-size: 14px;
  color: #5c6770;
}

.checkboxes label span {
  color: #909090;
}

.checkboxes input[type="checkbox"] {
  display: none;
}

.checkboxes label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #fff;
  border: 2px solid #e6e8ed;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  line-height: 15px;
}

.checkboxes input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  background-color: #ffa737;
  border: 2px solid #ffa737;
}

.checkboxes.two-column:after {
  display: table;
  clear: both;
  content: "";
}

.checkboxes.two-column li {
  display: -webkit-box;
  display: flex;
  position: relative;
  float: left;
  margin: 0;
  min-width: 50%;
  padding-right: 10px;
}

/*======================
    Radio bOX
=======================*/

.radio-box{
  position: relative;
}

.radio-box label{
  position: relative;
  display: block;
  font-size: 14px;
  color: #1b2032;
  line-height: 20px;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 18px;
}

.radio-box label:before{
  position: absolute;
  left: 0;
  top: 0;
  height:20px;
  width: 20px;
  background: #ffffff;
  content: "";
  border: 2px solid #e6e8ed;
  border-radius: 50px;
  background: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.radio-box label:after {
  position: absolute;
  content: '\f00c'; /*checked*/
  left: 0px;
  top: 0;
  height: 20px;
  text-align: center;
  line-height: 20px;
  width: 20px;
  max-width: 0;
  font-size: 10px;
  color: #ffffff;
  font-weight: 900;
  overflow: hidden;
  background: transparent;
  font-family: 'Font Awesome 5 Free';
  text-align: center;
  -webkit-transition: max-width 500ms ease;
  -moz-transition: max-width 500ms ease;
  -ms-transition: max-width 500ms ease;
  -o-transition: max-width 500ms ease;
  transition: max-width 500ms ease;
}

.radio-box input[type="radio"]{
  display: none;
}

.radio-box input[type="radio"]:checked + label{
  border-color: #018bd3;
}

.radio-box input[type="radio"] {
}

.radio-box input[type="radio"]:checked + label:before{
  border-color: #ffa737;
  background: #ffa737;
}

.radio-box input[type="radio"]:checked + label:after {
  max-width: 20px;
  opacity: 1; 
}

/*======================
    Radio bOX
=======================*/
.tooltip-outer{
  position: relative;
}

.tooltip-btn{
  position: relative;
  font-size: 14px;
  color: #5c6770;
  font-weight: 400;
  line-height: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  background: #e3e8f2;
  border-radius: 8px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

/*=========================
    Buttons Style
=========================*/


.theme-btn{
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.theme-btn .btn-title{
  position: relative;
  z-index: 9;
  color: inherit;
}

.theme-btn span:not(.btn-title){
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 100%;
  border-radius: 50%;
  transform: translateY(150%);
  transition: all 500ms ease;
  background-color: #ffffff;
  z-index: 0;
}

.theme-btn span:nth-child(2){
  left: 25%;
  transition-delay: 100ms;
}

.theme-btn span:nth-child(3){
  left: 50%;
  transition-delay: 200ms;
}

.theme-btn span:nth-child(4){
  left: 75%;
  transition-delay: 300ms;
}

.theme-btn:hover span{
  transform: translateY(0) scale(2);
}

/*Btn Style One*/
.btn-style-one{
  position:relative;
  font-size:16px;
  line-height:20px;
  color:#ffffff;
  padding: 15px 35px;
  font-weight: 500;
  background-color: #00b1ac;
  overflow: hidden;
}

.btn-style-one .btn-title{
  position: relative;
}

.btn-style-one:hover{
  color:#00b1ac;
  box-shadow: 0 5px 10px rgba(0,0,0,0.10);
}

.btn-style-one:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #ffffff;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
  -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.btn-style-one:hover:before{
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.btn-style-two{
  position:relative;
  font-size:16px;
  line-height:20px;
  color:#ffffff;
  padding: 15px 35px;
  font-weight: 500;
  background-color: #fa7b2c;
  overflow: hidden;
  border-radius: 50px;
}

.btn-style-two:hover{
  background-color: #fa7b2c;
  color:#ffffff;
}



/*==========================
	Progress Bars
============================*/
.progress-bars{
  position: relative;
}

.bar-item {
  position: relative;
  margin-bottom: 35px;
}

.bar-item .skill-bar {
  position: relative;
  width: 100%;
  height: 4px;
}

.bar-item .skill-bar .bar-inner {
  position: relative;
  width: 100%;
  height: 4px;
  background: #dddde1;
  border-radius: 5px;
}

.bar-item .skill-bar .bar-inner .bar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 1px;
  width: 0px;
  border-bottom: 4px solid #ffa737;
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;
}

.bar-item .skill-header {
  position: relative;
  margin-bottom: 4px;
}

.bar-item .skill-header .skill-title {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #022144;
  font-family: "Poppins", sans-serif;
}

.bar-item .skill-percentage {
    position: absolute;
    right: -13px;
    top: -30px;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 24px;
}

.theme_color {
  color: #25262c;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/*==========================
		Preloader
===========================*/
/*
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	z-index: 9999;
  background-image: url(../images/icons/preloader.png);
  background-repeat: no-repeat;
  background-position: center;
}
*/
.preloader:before{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  color: #021f4a;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  content: "LOADING"
}


img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

hr {
  -webkit-appearance: none;
  position: relative;
  height: 1px;
  margin: 30px auto;
  background: #e6e8ed;
  border-style: none;
  outline-style: none;
}

section hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.tabs-box {
  position: relative;
}

.tabs-box .tab {
  display: none;
}

.tabs-box .active-tab {
  display: block;
}

/*=== Default Form ===*/

.default-form{
  position: relative;
}

.default-form .form-group{
  position:relative;
  margin-bottom:30px; 
}

.default-form .form-group:last-child{
  margin-bottom: 0;
}

.default-form .form-group label{
  position: absolute;
  left: 25px;
  top: -7.5px;
  z-index: 1;
  background: #ffffff;
  padding: 0 5px;
  line-height: 15px;
  font-size: 14px;
  color: #4d4d4d;
  transition: all 300ms ease;
}

.default-form .form-group label.selected{
  font-size: 12px;
  top: -20px;
  left: 15px;
  color: #ff9b23;
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="url"],
.default-form .form-group textarea,
.default-form .form-group select{
  position: relative;
  display: block;
  width: 100%;
  font-size: 15px;
  color: #777777;
  line-height: 26px;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  font-weight: 400;
  height: 48px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.default-form .form-group input:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus{
  border-color:#d9d9d9;
  color: #777777;
}

.default-form .form-group textarea{
  height: 140px;
  resize: vertical;
}

.default-form .form-group button{
  text-transform: capitalize;
}


/*** 

====================================================================
	Scroll To Top
====================================================================

***/

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  display: none;
  cursor: pointer;
  background-color: #022144;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.scroll-to-top:hover {
  color: #022144;
  background-color: #ffffff;
}

/*** 

====================================================================
	 Main Header
====================================================================

***/

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.10);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header-span {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.main-header.fixed-header {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.10);
}

.main-header .main-box {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 15px;
}

.main-header .nav-outer {
  position: static;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.main-header .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .logo img{
  height: 26px;
  display: block;
}

.main-header .text {
  font-size: 16px;
  line-height: normal;
  color: #ffffff;
  margin-left: 30px;
}

.main-header .search-box {
  position: relative;
  margin-left: 30px;
  z-index: 999;
}

.main-header .search-box .search-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #212121;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search-active{
  overflow: hidden;
}

.search-active .search-box .search-backdrop {
  opacity: 0.85;
  visibility: visible;
}

.header-search-form {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.header-search-form input[type="text"],
.header-search-form input[type="search"] {
  position: relative;
  height: 60px;
  min-width: 320px;
  padding: 10px 20px;
  padding-right: 70px;
  background: transparent;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header-search-form input[type="text"]:focus,
.header-search-form input[type="search"]:focus {
  background: #f9fafc;
  color: #1b2032;
}

.header-search-form .search-btn {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header-search-form.active .search-btn {
  color: #1b2032;
}

.search-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: block !important;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  padding: 23px 23px 13px;
  border-radius: 0 0 5px 5px;
  transition: all 300ms ease;
}

.search-active .search-list {
  opacity: 1;
  visibility: visible;
}

.search-list .search-item.no-results {
  position: relative;
  padding: 0;
  margin: -13px 0;
  line-height: 1em;
}

.search-list .search-item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-left: 50px;
  min-height: 35px;
  margin-bottom: 13px;
}

.search-list .search-item .text {
  position: relative;
  font-size: 16px;
  line-height: 35px;
  color: #1b2032;
  margin: 0;
}

.search-list .search-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px;
  background: #4cbfd8;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border-radius: 50%;
}

.search-list .search-item.region .icon {
  background: #4cbfd8;
}
.search-list .search-item.listing .icon {
  background: #8c689d;
}
.search-list .search-item.shopping .icon {
  background: #ff8480;
}
.search-list .search-item.food .icon {
  background: #ffb874;
}
.search-list .search-item.prize .icon {
  background: #35c2a5;
}

.search-list .search-item .cat {
  position: relative;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #5e6876;
  margin-left: 10px;
}

.main-header .menu-box {
  position: static;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.main-menu {
  position: static;
}

.main-menu .navbar-header {
  display: none;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation {
  position: static;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.main-menu .navigation > li {
  position: relative;
  margin-left: 30px;
  padding: 15px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > span,
.main-menu .navigation > li > a {
  position: relative;
  display: block;
  text-align: center;
  opacity: 1;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #334246;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > span:hover,
.main-menu .navigation > li > a:hover{
  color: #76949c;
}


.main-menu .navigation > li.dropdown > span {
  padding-right: 15px;
}

.main-menu .navigation > li.dropdown > span:after {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -10px;
  font-family: "Font Awesome 5 Free";
  content: "\f0d7";
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 900;
  color: #022144;
  z-index: 5;
}

.main-menu .navigation > li > a > span {
  position: relative;
}

.main-menu .navigation > li > ul {
  position: absolute;
  top: 100%;
  left: -15px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0;
  opacity: 0;
  z-index: 1;
  min-width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -ms-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
}

.main-menu .navigation > li > ul:before {
  position: absolute;
  left: 20px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  content: "";
}

.main-menu .navigation > li > ul.from-right {
  left: auto;
  right: 0;
}

.main-menu .navigation > li > ul .from-right {
  left: auto;
  right: 100%;
  margin-right: 2px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  display: block;
  z-index: 1;
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > span,
.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-menu .navigation > li > ul > li > span:hover,
.main-menu .navigation > li > ul > li > a:hover {
  color: #76949c;
}

.main-menu .navigation > li.current.dropdown > span:after,
.main-menu .navigation > li > ul > li > ul > li.current > a,
.main-menu .navigation > li > ul > li.current > a {
  color: #76949c;
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0;
  min-width: 200px;
  margin-top: -40px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -ms-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  white-space: nowrap;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-menu .navigation > li > ul > li > ul > li > span:hover {
  color: #5c6770;
}

.main-menu .navigation > li > ul > li.dropdown > span:before {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  display: block;
  line-height: 20px;
  font-size: 16px;
  font-weight: 900;
  z-index: 5;
}

.main-menu .navigation > li.dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px);
  transform: translate(0px);
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px);
  transform: translate(0px);
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-header .outer-box {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.main-header .add-listing {
  margin-right: 40px;
  height: 45px;
  padding: 8px 20px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  line-height: 25px;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
  min-width: 170px;
}

.main-header .add-listing span {
  margin-right: 8px;
}

.main-header .add-listing:hover {
  color: #222222;
  background: #ffffff;
}

/* Cart btn */

.main-header .cart-btn {
  position: relative;
}

.main-header .cart-btn > a {
  position: relative;
  display: block;
  z-index: 1;
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
}

.main-header .cart-btn .count {
  position: absolute;
  right: -7px;
  top: -4px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffa737;
  border-radius: 50%;
}
.woocommerce a.remove{
  position: relative;
  top: 5px;
}
.woocommerce a.remove::after{
  position: absolute;
top: 0;
left: 5.5px;
content: "X";
}

.cart_item{
  padding: 15px!important;
}

.woocommerce-cart-form__cart-item .product-name .variation{
  font-size: 0.7em!important;
  display: flex!important;
  flex-wrap: wrap!important;
}

.woocommerce-cart-form__cart-item .product-name .variation dt,
.woocommerce-cart-form__cart-item .product-name .variation dd{
  padding: 0!important;
  margin: 0!important;
}

.woocommerce-cart-form__cart-item .product-name .variation dt{
      width: 80%;
    text-align: right;
    padding-right: 15px !important;
}
.woocommerce-cart-form__cart-item .product-name .variation dd{
  width: 20%;
}

/* Signin/Register */

.main-header .login-box {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 40px;
}

.main-header .login-box span {
  margin-right: 8px;
}

.main-header .login-box a {
  color: #ffffff;
}

.main-header .login-box a:hover {
  text-decoration: underline;
}

.main-header.alternate{
  background-color: #021f4a;
}

.main-header.alternate .logo {
  padding: 12.5px 0;
}

button[name="apply_coupon"]{
  background-color: #e6e6e6!important;
  border: #e5e5e5 !important;
}

/*** 

====================================================================
		Mobile Header
====================================================================

***/

.mobile-header {
  position: relative;
  padding: 15px 15px;
  display: none;
  z-index: 99;
}

.mobile-header:after {
  display: table;
  clear: both;
  content: "";
}

.mobile-header .logo {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 !important;
  left: 0;
}

.mobile-header .logo img {
  max-height: 50px;
}

.mobile-header .nav-outer {
  position: relative;
  float: right;
}

.mobile-header .outer-box {
  position: relative;
  float: right;
}

.nav-outer .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 32px;
  line-height: 30px;
  cursor: pointer;
  color: #022144;
  -webkit-box-ordinal-group: 4;
  order: 3;
  display: none;
}

.mm-panels {
  --mm-color-background: #222222;
  --mm-color-text-dimmed: #ffffff;
  --mm-color-border: rgba(255, 255, 255, 0.1);
  --mm-listitem-size: 50px;
}

.mm-btn:after,
.mm-btn:before {
  border-color: #ffffff;
  border-width: 1.5px;
  height: 6px;
  width: 6px;
}

.mm-panels .mm-counter {
  position: absolute;
  right: 45px;
  top: 50%;
  text-indent: 0;
  display: block;
  margin-top: -10px;
  background-color: rgba(255, 167, 55, 0.8);
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  line-height: 22px;
  font-size: 12px;
  font-weight: 600;
  padding: 0;
}

#toggle-user-sidebar{
  margin-left: 20px;
}

#toggle-user-sidebar .thumb{
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid rgba(255,255,255,.15);
  border-radius: 50%;
}

.mm-add-listing{
    margin-top: 30px;
    padding: 0 10px;
    border: transparent;
    display: none;
}

.mm-add-listing .theme-btn{
    width: auto;
    min-width: auto;
    flex: 0 0 auto;
    color: #ffa737 !important;
    border-radius: 50px;
    line-height: 25px;
    font-weight: 400;
}

.mm-add-listing .theme-btn span{
  margin-left: 0;
  margin-right: 10px;
}

/*** 

====================================================================
    Anim Iocns
====================================================================

***/

.anim-icons{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.anim-icons .icon{
  position: absolute !important;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-triangle-1{
  height: 40px;
  width: 40px;
  background-image: url(../images/icons/icon-triangle-1.png);
}

.icon-cross{
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/icon-cross.png);
}

.icon-cross-large{
  height: 120px;
  width: 120px;
  background-image: url(../images/icons/icon-cross-large.png);
}

.icon-dot{
  height: 11px;
  width: 11px;
  background-image: url(../images/icons/icon-dot.png);
}

.icon-twist{
  height: 50px;
  width: 67px;
  background-image: url(../images/icons/icon-twist.png);
}

.icon-double-line{
  height: 97px;
  width: 190px;
  background-image: url(../images/icons/icon-double-line.png);
}

.icon-circle{
  height: 190px;
  width: 190px;
  background-image: url(../images/icons/icon-circle.png);
}


/*** 

====================================================================
      Page Title
====================================================================

***/
.woocommerce-products-header{
  background-color: #f6f6f6;
}
.page-title{
  position:relative;
  padding: 140px 0;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.page-title .inner-container{
  position: relative; 
}

.page-title h1{
  position:relative;
  display: block;
  font-size:40px;
  color:#022144;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.page-title .bread-crumb {
  position: relative;
  display: flex;
  align-items: center;
}

.page-title .bread-crumb li{
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color:#4d4d4d;
  font-weight: 400;
  text-transform: capitalize;
  cursor: default;
  padding-right:  10px;
  margin-right: 10px;
}

.page-title .bread-crumb li:before{
  position: absolute;
  right: -2px;
  font-size: 18px;
  line-height: 30px;
  color: #4d4d4d;
  content: '/';
}

.page-title .bread-crumb li:last-child{
  padding-right: 0;
  margin-right: 0;
}

.page-title .bread-crumb li:last-child:before{
  display: none;
}

.page-title .bread-crumb li a{
  color:#4d4d4d;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.page-title .bread-crumb li a:hover{
  color:#4d4d4d; 
}

.page-title .backgroun-layers{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
}

.page-title .backgroun-layers .shape{
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.page-title .backgroun-layers .bg-shape-3{
  right: -160px;
}

.bg-shape-3{
  width: 857px;
  background-image: url(../images/icons/shape-3.png);
}

.bg-shape-4{
  width: 1032px;
  background-image: url(../images/icons/shape-4.png);
}

.page-title .icon-triangle-1 {
    left: 10% !important;
    top: 60px !important;
}

.page-title .icon-triangle-1:nth-child(2){
    left: 110% !important;
    top: 30% !important;
}

.page-title .icon-cross{
    left: 100% !important;
    top: 50px !important;
}

.page-title .icon-dot {
    left: 30% !important;
    top: 80% !important;
}

.page-title .icon-circle{
    left: -10% !important;
    top: 20% !important;
}

.page-title .icon-twist{
    left: 90% !important;
    top: 30% !important;
}

.page-title .icon-double-line{
    left: -20% !important;
    top: auto !important;
    bottom: 0 !important;
}

/*** 

====================================================================
		Section Title
====================================================================

***/

.sec-title {
  position: relative;
  margin-bottom: 50px;
}

.sec-title .sub-title{
  position: relative;
  display: block;
  font-size: 30px;
  color: #222929;
  font-weight: 400;
  margin-top: 16px;
}

.sec-title h2{
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 1.2em;
  color: #334246;
  font-weight: 700;
  text-transform: uppercase;
}

.sec-title.light h2{
  color: #ffffff;
}


/*** 

====================================================================
	Banner Section
====================================================================

***/

.banner-section {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh + 18vh);
  padding-left: 5vw;
  padding-right: 40vw;
  padding-top: 18vh;
  margin-bottom: -18vh;
}

.banner-section .content-box{
  position: relative;
}

.banner-section h2{
  position: relative;
  font-size: 72px;
  font-weight: 700;
  color: #3b3747;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.banner-section p{
  font-size: 24px;
  line-height: 1.42857;
  color: #334246;
  font-weight: 300;
  margin-bottom: 24px;
}

.banner-section .theme-btn{
  min-width: 170px;
}

.banner-section .text{
  position: relative;
}


/*** 

====================================================================
    Package Section
====================================================================

***/

.package-section{
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  padding: 10vh 6vw 25vh;
}

.package-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background:linear-gradient(to left top,#fff 49%,transparent 50%)
}

.package-section .upper-box{
  position: relative;
  padding: 50px 30px;
  /*background-image: url(../images/icons/package-bg.png);background-repeat: no-repeat;background-position: center;background-size: cover;*/
  background-color: #d9eff6;
}

.package-section .upper-box h3{
  font-size: 34px;
  line-height: 1.2em;
  color: #008bc0;
  margin-bottom: 10px;
}

.package-section .upper-box h3 span{
  font-size: 16px;
  display: block;
}

.package-section .upper-box h4{
  position: relative;
  margin-bottom: 20px;
  color: #063959 !important;
}

.package-section .upper-right{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-style-two{
  position: relative;
}

.list-style-two li{
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
  background: url(../images/icons/bullet-10.png) no-repeat;
  line-height: 16px;
}

.package-table{
  position: relative;
}

.package-table .left-column{
  position: relative;
}

.package-table .left-column ul li{
  position: relative;
  font-size: 15px;
  line-height: 20px;
  padding: 14px 10px 15px 30px;
  border-top: 1px solid #dddde1;
}

.package-table .left-column .title{
  padding-left: 40px;
  color: #5c94d7;
  border-top: 2px solid transparent;
}

.package-table .left-column .title img{
  height: 14px;
  margin-right: 10px;
}

.package-table .left-column ul li:nth-child(even){
  background-color: #e5f3f8;
}

.package-table .left-column ul li .opener{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #23527c;
    padding: 2px 0 3px 40px;
    background: url(../images/icons/ico-plus-2.png) no-repeat;
    cursor: pointer;
} 

.package-table .left-column ul li.active .opener {
    background: url(../images/icons/ico-minus.png) no-repeat;
}

.package-table .left-column ul li .slide-block{
  padding: 10px 0 0 40px;
  max-width: 500px;
  display: none;
}

.package-table .left-column ul li .slide-block p{
  font-size: 14px;
  line-height: 22px;
  padding:5px 0 9px;
}

.package-table .left-column ul li.active .slide-block{
  display: block;
}

.package-table .left-column ul li.total{
  position: relative;
  background-color: #0a3b5c;
  color: #ffffff;
  text-align: right;
  font-size: 24px;
  padding-right: 35px;
}

.package-table .inc {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icons/inc.png) center no-repeat;
}

.package-table .inc.no-inc{
    background: url(../images/icons/no-inc.png) center no-repeat;
}
.package-table .right-column ul{
  border: 2px solid #546673;
  border-top: 0;
  border-radius: 0 0 0 40px;
  overflow: hidden;
}

.package-table .right-column ul li{
  position: relative;
  font-size: 15px;
  padding: 5px 10px 5px;
  border-top: 1px solid #dddde1;
  text-align: center;
  min-height: 51px;
}

.package-table .right-column ul li:nth-child(even){
  background-color: #c9e5f0;
}

.package-table .input{
  position: relative;
  margin: 3px auto;
  min-width: 150px;
  min-height: 34px;
  border-radius: 6px;
  border: 2px solid #247ff9;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 14px;
}

.package-table .right-column ul li.price{
  background-color: #19a2d6;
  color: #ffffff;
  line-height: 38px;
  font-size: 24px;
}

.package-table .right-column ul li.continue{
  position: relative;
  background-color: #0697ce;
  padding: 27px 20px 40px;
  border-top: 0;
}

.package-table .right-column ul li.continue {

}
/*** 

====================================================================
    Features Section
====================================================================

***/

.features-section{
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  padding: 0 6vw 25vh;
}

.features-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background:linear-gradient(to left top,#fff 49%,transparent 50%)
}

.feature-block{
  position: relative;
  margin-bottom: 50px;
}

.feature-block .inner-box{
  position: relative;
  text-align: center;
  transition: all 300ms ease;
}

.feature-block .icon{
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.feature-block h4{
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section{
  position: relative;
  background-color: #e7e7e7 ;
  z-index: 2;
  padding: 0 6vw 30vh;
}

.services-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background: linear-gradient(to right top,#e7e7e7 49%,transparent 50%);
}

.absolute-link{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.services-section .outer-box {
  position: relative;
  margin: 0 -2px;
}

.services-section .column{
  position: relative;
  float: left;
  width: 33.3333%;
  height: 50vw;
  padding: 0 2px;
}

.service-block{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33%;
  margin-bottom: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  overflow: hidden;
}

.service-block:before{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.54));
    bottom: 0;
    height: 72px;
    position: absolute;
    width: 100%;
    content: "";
}

.service-block .text-box{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  z-index: 1;
}

.service-block .text-box h3{
  position: relative;
  color: #ffffff;
}

.service-block.block-two{
  height: 66%;
}


/*** 

====================================================================
    Testimonials Section
====================================================================

***/

.testimonials-section{
  position: relative;
  padding: 0 6vw 25vh;
  z-index: 2;
  font-family: "Segoe UI","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.testimonials-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background: linear-gradient(to left top,#fff 49%,transparent 50%);
}

.testimonials-section .outer-box{
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

@media screen and (min-width: 683px){
.testimonials-section .outer-box{
  padding: 72px 64px 64px;
}
}
@media screen and (max-width: 683px){
.testimonials-section .outer-box{
  padding: 72px 10px 64px;
}
}

.testimonials-section .upper-title{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-section .upper-title h4{
  margin-right: 10px;
  font-size: 24px;
}

.testimonials-section .upper-title .rating-star{
  position: relative;
  display: flex;
  align-items: center;
}

.testimonials-section .upper-title .rating-star span.fa{
  position: relative;
  display: block;
  color: #ffffff;
  background-color: #00b67a;
  font-size: 13px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  margin: 0 1px;
}

.testimonials-section .businessinfo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #191919;
  font-weight: 300;
  margin-bottom: 30px;
}

.text_underline{
  text-decoration: underline;
}

.testimonials-section .businessinfo a{
  color: #191919;
}

.testimonials-section .businessinfo b{
  font-weight: 700;
}

.testimonials-section .businessinfo .logo-company{
  position: relative;
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #191919;
  font-weight: 600;
}

.testimonials-section .businessinfo .logo-company span.fa{
  color: #00b67a;
}

.testimonials-section .wrapper-reviews{
    /*overflow: hidden;
    height: 350px*/
    position: relative;
    box-shadow: inset 0 0px 10px rgba(0,0,0,.10); 
}

.testimonials-section .custom-row{
    position: relative;
    margin: 0 -2.5px;
}

.testimonials-section .custom-row .column{
  position: relative;
}

.testimonial-block{
  position: relative;
  padding: 0 2.5px;
  margin-bottom: 5px;
}

.testimonial-block .inner-box{
  position: relative;
  background-color: #f8f9fa;
  padding: 15px;
}

.testimonial-block .upper-info{
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #727273;
  font-size: 12px;
}

.testimonial-block .upper-info .rating{
  position: relative;
  display: flex;
  text-align: center;
}

.testimonial-block .upper-info .rating span.fa{
  position: relative;
  display: block;
  color: #ffffff;
  background-color: #00b67a;
  font-size: 11px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: 0 1px;
}

.testimonial-block .content{
    position: relative;
}

.testimonial-block .content .name{
  display: block;
  color: #727273;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 15px;
}

.testimonial-block .content h5{
  color: #191919;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}

.testimonial-block .content p{
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 300;
}

.testimonials-section .btn-box{
  position: relative;
  text-align: center;
  margin-top: 40px;
}

/*** 

====================================================================
    FAQ's Section
====================================================================

***/

.faqs-section{
  position: relative;
  background-color: #00b1ac;
  z-index: 2;
  padding: 0 6vw 10vh;
}

.faqs-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background: linear-gradient(to right top,#00b1ac 49%,transparent 50%);
}

.faqs-section .image-column .image{
  position: relative;
  margin-bottom: 50px;
}

.faqs-section .image-column .image img{
  display: block;
  width: 100%;
}


/*==========================
  Accordian Box
===========================*/

.accordion-box {
  position: relative;
  margin-bottom: 30px;
}

.accordion-box .block {
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #ffffff;
}

.accordion-box .block .acc-btn {
  position: relative;
  font-size: 20px;
  padding: 15px 20px;
  padding-left: 50px;
  line-height: 30px;
  color: #3b3747;
  font-weight: 500;
  box-shadow: 0 1px 4px rgba(0,0,0,0.09);
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block .acc-btn .icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  color: #0a0a0a;
  font-size: 14px;
  border-radius: 50px;
  transition: all 300ms ease;
}

.accordion-box .block .acc-btn.active .icon{
  transform: rotate(90deg);
}

.accordion-box .block .acc-content {
  position: relative;
  display: none;
}

.accordion-box .block .acc-content.current {
  display: block;
}

.accordion-box .block .content {
  position: relative;
  padding: 30px 25px 15px;
}

.accordion-box .block .content p{
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #5c6770;
  font-weight: 400;
  margin-bottom: 26px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block .content p:last-child{
  margin-bottom: 0;
}

/*** 

====================================================================
    Sponsor Section
====================================================================

***/

.sponsors-section{
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #ffffff;
}

.sponsors-section ul li{
  position: relative;
  display: table;
  height: 88px;
}

.sponsors-section ul li a{
    display: table-cell;
    margin-left: 24px;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}

.sponsors-section ul li img{
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 100ms;
    vertical-align: top;
    height: 35px;
}

/*** 

====================================================================
    Why Choose us
====================================================================

***/

.why-choose-us{
  position: relative;
  padding: 10vh 6vw 25vh;
}

.why-choose-us .auto-container{
  max-width: 1000px;
}

.feature-block-two{
  position: relative;
  margin-bottom: 30px;
}

.feature-block-two .inner-box{
  position: relative;
}

.feature-block-two h4{
  position: relative;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.feature-block-two h4 a{
  color: inherit;
}

.feature-block-two .text{
  font-size: 14px;
  line-height: 1.4em;
  opacity: .70;
}

.bottom-text{
  position: relative;
  margin-top:40px;
  text-align: center;
}

/*** 

====================================================================
    Setup Section
====================================================================

***/

.setup-section{
  position: relative;
  background-color: #e7e7e7;
  z-index: 2;
  padding: 5vh 6vw 20vh;
}

.setup-section .diagonal {
  height: 18vh;
  width: 100%;
  position: absolute;
  top: -18vh;
  left: 0;
  background: linear-gradient(to right top,#e7e7e7 49%,transparent 50%);
}

.setup-section .setup-list{
  position: relative;
  margin-left: 3em;
}

.setup-section .setup-list li{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 70px;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
  min-height: 50px;
}

.setup-section .setup-list li strong{
  font-weight: 800;
  margin-right: 10px;
  font-size: 28px;
}

.setup-section .setup-list li .icon{
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #00b1ac;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

/*** 

====================================================================
    Free Shipping
====================================================================

***/

.free-shipping{
  position: relative;
  padding: 10vh 0 10vh;
  z-index: 2;
}

.free-shipping .diagonal {
    height: 18vh;
    width: 100%;
    position: absolute;
    top: -18vh;
    left: 0;
    background: linear-gradient(to left top,#fff 49%,transparent 50%);
}

.free-shipping .outer-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shipping-box{
  position: relative;
  padding-left: 60px;
  min-height: 50px;
  margin: 0 30px 30px;
}

.shipping-box .icon{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  line-height: 60px;
  color: #607e89;
}

.shipping-box .icon.icon-check{
  color: #4cb050;
}

.shipping-box h4{
  font-size: 24px;
  line-height: 30px;
  color: #170f6b;
}

.shipping-box h4 span{
  color: #327aca;
}

.free-shipping .btn-box{
  text-align: center;
  position: relative;
  margin-top: 50px;
}

/*** 

====================================================================
    Main Footer
====================================================================

***/

.main-footer{
  position: relative;
  padding: 10vh 0 15px;
  border-top: 1px solid #dddde1;
}

.main-footer .footer-links{
  position: relative;
  max-width: 600px;
}

.main-footer .footer-links ul{
  position: relative;
}

.main-footer .footer-links ul li{
  display: block;
  margin-bottom: 10px;
}

.main-footer .footer-links ul li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  color: #334246;
  font-weight: 400;
  transition: all 300ms ease;
}

.main-footer .footer-links ul li a:hover{
    color: #76949c;
    text-decoration: none;
}

.main-footer .footer-images{
  position: relative;
  display: flex;
  align-content: center;
  margin-top: 20px;
}

.main-footer .footer-images .image{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 30px;
}

.main-footer .footer-bottom{
  position: relative;
  border-top: 1px solid #dddde1;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer .copyright-text{
  font-size: 13px;
  color: #7f8689;
  line-height: 19px;
}

.social-links{
  position: relative;
  display: flex;
  align-items: center;
}

.social-links li{
  position: relative;
  font-size: 16px;
  color:#334246;
  margin-left: 10px;
}

.social-links li a{
  color:#334246;
  transition: all 300ms ease;
}

.social-links li a:hover{
  color: #00b1ac;
}

/* custom variable options */
.variations_form{
	margin:0 -10px;
}

.variations_form tr,
.variations_form td{
	margin: 0 !important;
}

.variations_form tr{
	position: relative;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 10px 15px 30px;
    border-top: 1px solid #dddde1;
}

.variations_form tr:nth-child(odd) {
    background-color: #e5f3f8;
}

.variations_form td.value select{
    position: relative !important;
    margin: 2px auto 0 !important;
    width: 170px !important;
    min-width: 170px !important;
    min-height: 34px !important;
    border-radius: 6px !important;
    border: 2px solid #247ff9 !important;
    background-color: #ffffff !important;
    padding: 5px 10px !important;
    line-height: 20px !important;
    font-size: 14px !important;
}

.variations_form td.value{
  width: 20% !important;
}


.variations_form td.value:before{
  display: none !important;
}

.variations_form td.label{
  width: 75% !important;
}

.variations_form .reset_variations{
position: absolute !important;
    right: 20px;
    bottom: -70px;
    padding: 10px 30px;
    background-color: #009688;
    color: #ffffff !important;
    border-radius: 30px;
    line-height: 15px;
}

.woocommerce .elementor-258 .elementor-element.elementor-element-c078ec6 form.cart .variations{
  margin-bottom:20px !important;
}

.elementor-258 .elementor-element.elementor-element-c078ec6 > .elementor-widget-container {
    margin: 0 -10px !important;
}


.variations_form .button.single_add_to_cart_button{
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff !important;
    padding: 10px 35px !important;
    font-weight: 500;
    background-color: #fa7b2c !important;
    overflow: hidden;  
    height: 40px !important;
    top: -2.5px;
}
.site-footer {
    position: relative;
    padding: 10vh 0 15px;
    border-top: 1px solid #dddde1;
}
.ast-small-footer .footer-sml-layout-1.ast-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.footer-sml-layout-1 .ast-small-footer-section-2 {
    position: relative;
    border-top: 1px solid #dddde1;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #7f8689;
    line-height: 19px
}
.site-footer ul {
    margin-left: 71px;
    list-style-type: none;
}
.site-footer ul li {
    position: relative;
	display: block !important;
	width: 150px;
	text-align: left;
	text-transform: uppercase;
	margin: 5px !important;
}


/* others */
.ast-container,
.woocommerce-products-header__title,
.ast-woocommerce-container .products,
.ast-article-single:not(.product){
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
margin: 0 auto;
}

.home .ast-article-single{
  max-width: 100%;
}

.woocommerce ul.products,
.woocommerce-breadcrumb{
    padding-left: 15px!important;
    padding-right: 15px!important;
    max-width: 1200px;
  margin-left: auto!important;
  margin-right: auto!important;
}

/*.woocommerce-result-count{
padding-left: 15px;
}

.woocommerce-ordering{
padding-right: 15px;
}*/




.ast-article-single .woocommerce-breadcrumb{
  display: none;
}

.product_meta span, .product_meta a{
  color: #e6e6e6;
  font-size: 9px;
}

.no-gutters > p{
    display: none!important;
}

.padding-bottom{
    padding-bottom: 30px;
}

/*
 ** Category container */
.container-categories__body {
    position: relative;
    overflow: hidden;
}

.container-categories__body::after{
  content: " ";
  background-color: #02b2ad;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.category-container{
  background-color: white;
  box-sizing: border-box;
  padding: 2.2em 1.8em;
  border: 1px solid #02b2ad;
  position: relative;
  z-index: 2;
}
.category-container__thumbnail{
  margin-bottom: 1.5em;
}
.category-container__thumbnail img{
  width: 100%;
  max-width: 64px;
  height: auto;
}

.category-container__title{
  font-size: 1.0em!important;
  margin: 0!important;
}

.category-container ul li{
  font-size: 0.9em;
}

.category-container__divisor{
  width: 64px;
  height: 3px;
  background: #02b2ad;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.category-container ul li a{
  color: #545454;
  display: block;
  font-weight: 400;
}

.category-container__more{
  display: block;
  margin-top: 1.5em;
  font-size: 0.9em;
}

/* reviews form fix */
#review_form_wrapper2{
  max-width: 550px;
  margin: 0 auto;
  display: none;
}
#review_form_wrapper2.showreview{
  display: block;
}

.comment-form-subject input{
  width: 100%;
}
.comment-form-cookies-consent input{
  margin-top: 15px;
  margin-right: 15px;
}
.comment-form-cookies-consent label{
  display: inline;
}

.comment-notes #email-notes{
  display: block;
}
.comment-form .required{
  color: red;
}

.palito-separador{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.review-subject{
  font-weight: bold!important;
  font-size: 0.8em!important;
  margin-top: -12px;
  padding-bottom: 5px;
}

.summary-caber{
  width: 100%!important;
}

/* attributes */
#pwzrt_product_options{
  margin-bottom: 0;
}
#pwzrt_product_options .fieldset .field:nth-child(2n) {
    background-color: #e5f3f8;
}

#pwzrt_product_options .fieldset .field, 
.price-field,
.submit-button-panel{
display: flex;
justify-content: space-between;
align-items: stretch;
margin: 0;
padding: 0;
position: relative;
}

.total-count .price{
  margin: 0!important;
  padding: 0!important;
}


#pwzrt_product_options .fieldset .field > label, 
.price-field .total-label,
.product-options-head .pleft,
.submit-button-panel .submit-button-panel__left {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0 10px 0 30px;
  color:#23527c;
  min-height: 51px;
  border-top: 1px solid #dddde1;
}

#pwzrt_product_options .fieldset .field .control,
.price-field .total-count,
.product-options-head .pright,
.submit-button-panel .submit-button-panel__right
 {
  width: 30%;
  min-height: 51px;
  border-top: 1px solid #dddde1;
  display: block;
  padding: 5px 10px 5px 10px;
  border-left: 1px solid #dddde1;
  border-right: 1px solid #dddde1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button-panel__left
.submit-button-panel__right,
{
  border-top:0;
}

.submit-button-panel__right{
  background-color: #0697ce;
}

@media screen and (max-width: 785px){
  .submit-button-panel__left{
    display: none!important;
  }
  .submit-button-panel__right{
    width: 100%!important;
  }
}

.submit-button-panel__right .submit-button-panel__button{
  background: #fa7b2c!important;
  border-radius: 50px!important;
  font-weight: 500!important;
  padding: 15px 35px!important;
  font-size: 16px!important;
  border-color: #0274be !important;
  height: auto!important;
}

.submit-button-panel__right .submit-button-panel__button:hover{
  border-color: #3a3a3a!important;
}

.field .caber-resalt{
  color: #0dc70d;
}

.inline-title{
  color: #ff8300!important;
font-size: 10px!important;
display: inline-block!important;
}

#pwzrt_product_options .description-panel{
  color: gray!important;
font-size: 12px!important;
display: none;
line-height: 1.6;
font-weight: 30;
}

.caber-show-panel:checked ~ .the-panel-button{
  background-image: url(../images/icons/ico-minus.png);
}
.the-panel-button{
  background-image: url(../images/icons/ico-plus-2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -1px;
  top: 10px; 
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.caber-show-panel:checked ~ .description-panel{
  display: block!important;
}

.caber-show-panel{
  display: none;
}

.pwzrt-required{
  display: none;
}
.price-field{
  font-size: 30px;
  background-color: #0a3b5c;
}
.price-field .total-label{
  text-align: right;
  padding: 0 30px 0 10px;
  color: white;
  justify-content: flex-end;
}
.price-field .total-count{
  background-color: #19a2d6;
  color: white;
}

#pwzrt_product_options .fieldset .field label span{
  font-weight: 300;
  font-size: 0.85rem;
}
#pwzrt_product_options .fieldset .field:nth-child(2n) .control{
  background-color: #c9e5f0;
}


.total-count .woocommerce-Price-amount{
  color: white!important;
}

#pwzrt_product_options .fieldset .field .choice{
  display: flex;
  justify-content: center;
}
#pwzrt_product_options .fieldset .field .choice label{
  padding: 0;
  margin: 0;
}

.icon-checked{
  position: relative;
}
.icon-checked input, .icon-checked label{
display: none!important;
}
.icon-checked::after{
  content: " ";
  display: block;
  background-image: url('../images/icons/inc.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.field.header img{
  width: 24px;
position: absolute;
top: 25px;
left: 5px;
transform: rotate(-45deg);
}

.wrap-options{
  display: flex;
  flex-direction: column;

}

.wrap-options #pwzrt_product_options{
  order: 1;
}

.wrap-options .price-field{
  order: 2;
}

.wrap-options .submit-button-panel{
  order: 3;
}

.password-input{
  width: 100%;
}


/* woocommerce fixed */
.order-container .account-details,
#customer_details .account-details{
  /*background-color: #eeeeee;*/
  padding: 15px;
  margin-bottom: 2em;
  border-bottom: 2px double #ececec;
}

.order-container #order_review_heading,
.order-container .woocommerce-checkout-review-order{
  width: 100%!important;
}

.woocommerce-NoticeGroup{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.woocommerce-checkout-review-order{
  padding-bottom: 2em!important;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before{
  right: 1.5em;
  left: unset;
}

.header-checkout .site-branding{
  text-align: center;
}

.nav-icons{
  color: green;
}

.page-checkout .entry-header{
  display: none;
}

@media screen and (max-width: 992px){

  .header-checkout .site-branding{
    order: 1;
  }
  
  .header-checkout .link-top-back{
    order: 2;
    text-align: right;
  }

  .header-checkout .nav-icons{
    order: 3;
    text-align: left;
    font-size: 20px;
  }

  /* checkout oorder */
  .checkout.row .account-details{
    order: 1;
  }

  .checkout.row .order-container{
    order: 2;
    margin-bottom: 2em;
  }

  .checkout.row .order-container .woocommerce-terms-and-conditions-wrapper,
  .checkout.row .order-container #place_order{
    display: none!important;
  }

  .checkout.row #customer_details{
    order: 3;
  }
}

@media screen and (min-width: 992px){
  .nav-icons {
    text-align: right;
    font-size: 25px;
  }
}